--- 
layout: default
---

<div class="content video">
	<div class="video">
		<video id="{{ page.episode }}-video" class="video-js vjs-default-skin" controls preload="auto" width="720" height="480" poster="{{ site.asset_url }}/{{ page.episode }}/thumb.jpg" data-setup="{}">
			<source src="{{ site.asset_url }}/{{ page.episode }}/video.mp4" type="video/mp4">
			<source src="{{ site.asset_url }}/{{ page.episode }}/video.ogg" type="video/ogg">
			<source src="{{ site.asset_url }}/{{ page.episode }}/video.flv" type="video/x-flv">
		</video>
	</div>

	<h1>{{ page.title }}</h1>

	<p>{{ page.description }}</p>
</div>

{% if page.recipes %}
	{% for recipe in page.recipes %}
		<div class="content recipe">
			<h2>{{ recipe.title }}</h2>

			{% if recipe.notes %}
			<div class="notes">
				<p>{{ recipe.notes }}</p>
			</div>
			{% endif %}

			{% if recipe.hardware %}
			<div class="hardware">
				<h3>Hardware</h3>
				<ul>
					{% for hardware in recipe.hardware %}
					<li>{{ hardware }}</li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}

			{% if recipe.software %}
			<div class="software">
				<h3>Software</h3>
				<ul>
					{% for software in recipe.software %}
					<li>{{ software }}</li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}

			{% if recipe.procedure %}
			<div class="procedure">
				<h3>Procedure</h3>
				<ol>
					{% for procedure in recipe.procedure %}
					<li>{{ procedure }}</li>
					{% endfor %}
				</ol>
			</div>
			{% endif %}
		</div>
	{% endfor %}
{% endif %}

{% if page.photos %}
<div class="content photos">
	<h2>Photos</h2>
	<ul>
		{% for photo in page.photos %}
		<li><a href="{{ site.asset_url }}/{{ page.episode }}/i/{{ photo }}"><img src="{{ site.asset_url }}/{{ page.episode }}/i/{{ photo }}" /></a></li>
		{% endfor %}
	</ul>
</div>
{% endif %}
