/*
	General
**********************************************************************/
body {
	margin: 0;
	padding: 0;
	text-align: center;
}

.header,
.content,
.footer {
	margin: 0 auto;
	padding: 20px 0;
	width: 720px;
}

/*
@media screen and (max-width: 480px) {

}
*/

h1 {
	font-size: 60px;
	font-weight: normal;
	line-height: 62px;
	margin: 20px 0 0 0;
	text-align: center;
}

h1 a {
	display: block;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #000;
	text-decoration: none;
}

a.image,
a.image img {
	border: 0;
	display: block;
}

@media screen and (max-width: 320px) {
	body {}

	.header,
	.content,
	.footer {
		margin: 0 10px;
		padding: 20px 0;
		width: 300px;
	}

	h1 {
		font-size: 30px;
		line-height: 32px;
	}
}

/*
	Header
**********************************************************************/
.header {
	border-bottom: 1px solid #DDD;
	text-align: center;
}

.header h1,
.header h1 a {
	display: block;
	height: 385px;
	margin: 0;
	padding: 0;
}

.header h1 a {
	background: url('./logo.png') center center no-repeat;
	text-indent: -10000px;
}

/*
	Content
**********************************************************************/
.content {
	border-bottom: 1px solid #DDD;
	text-align: left;
}

.content img {
	width: 720px;
}

.photos ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.photos ul li {
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 320px) {
	body {}

	.content img {
		width: 300px;
	}
	
	.video-js,
	.video-js .vjs-poster {
		height: 198px !important;
		width: 300px !important;
	}
}

/*
	Footer
**********************************************************************/
.footer {}

/*
	Clear fixes
**********************************************************************/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}