/*
	Shared
**********************************************************************/
body {
	font-size: 16px;
	line-height: 16px;
	margin: 0;
	padding: 0;
	text-align: center;
}

.content {
	margin: 20px auto;
	width: 1028px;
	text-align: left;
}

/*
@media screen and (max-width: 480px) {

}
*/

@media screen and (max-width: 320px) {
	body {
		font-size: 16px;
		line-height: 16px;
		margin: 0;
		padding: 0;
		text-align: left;
	}

	.content {
		margin: 20px 10px;
		width: 300px;
		text-align: left;
	}
}

/*
	Episode cloud
**********************************************************************/
.logo,
.episode {
	border: 1px solid #eee;
	float: left;
	height: 240px;
	margin: 10px;
	overflow: hidden;
	padding: 10px;
	text-align: center;
	width: 300px;
}

.logo img {
	height: 300px;
}

.episode h2 {
	display: block;
	font-size: 27px;
	line-height: 29px;
	margin: 10px 0;
	width: 100%;
}

.episode h2 a {
	color: #000;
	display: block;
	text-decoration: none;
	width: 100%;
}

.episode img {
	width: 300px;
}

@media screen and (max-width: 320px) {
	.logo,
	.episode {
		border: 0 none transparent;
		float: none;
		height: auto;
		margin: 10px 0 0;
		padding: 0 0 10px;
	}
	.logo  {
		margin: 0;
		padding: 0;
	}
	.episode {
		border-top: 1px solid #eee;
		margin: 0 0 20px;
		padding: 20px 0 0;
	}
	.episode h2 {
		margin: 10px 0 0;
	}
	.logo img {
		padding: 0 0 10px;
	}
	.episode ul {
		display: none;
	}
}

/*
	Episode index
**********************************************************************/
.episode-header .logo {
	height: 300px;
}

.hero {
	border: 1px solid #eee;
	float: left;
	height: 320px;
	margin: 10px 0;
	padding: 0;
	text-align: center;
	width: 684px;
}

.hero img {
	height: 320px;
	width: 100%;
}

.episode-content {
	margin: 0 0 0 10px;
}

h1 {
	border-bottom: 1px solid #eee;
	display: block;
	font-size: 60px;
	line-height: 62px;
	margin: 10px 0;
	text-align: center;
	width: 100%;
}
p {
	margin: 15px 0;
}

@media screen and (max-width: 320px) {
	.episode-header .logo  {
		padding: 0 0 10px;
	}
	.hero {
		border: 0 none transparent;
		border-top: 1px solid #eee;
		float: none;
		height: auto;
		margin: 0 0 0;
		padding: 20px 0 0;
		width: 300px;
	}
	.hero img {
		height: auto;
		width: 300px;
	}
	.episode-content {
		margin: 0;
	}
	h1 {
		border-bottom: 1px solid #eee;
		font-size: 27px;
		line-height: 29px;
		padding: 0 0 10px;
	}
}

/*
	Clear fixes
**********************************************************************/
.clearfix:after,
.content:after,
.episode-header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}